<a href="https://colab.research.google.com/github/aanyajain1/car_price_prediction/blob/main/Cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
path="/content/drive/MyDrive/Colab Notebooks/cars_engage__2022.csv"
df=pd.read_csv(path)

#dataset is now stored in a pandas dataframe

df.describe

<bound method NDFrame.describe of       Unnamed: 0        Make      Model        Variant Ex-Showroom_Price  \
0              0        Tata  Nano Genx             Xt      Rs. 2,92,667
1              1        Tata  Nano Genx             Xe      Rs. 2,36,447
2              2        Tata  Nano Genx        Emax Xm      Rs. 2,96,661
3              3        Tata  Nano Genx            Xta      Rs. 3,34,768
4              4        Tata  Nano Genx             Xm      Rs. 2,72,223
...          ...         ...        ...            ...               ...
1271        1271       Honda       City   Vx Mt Diesel     Rs. 13,02,000
1272        1272       Honda       City   Zx Mt Diesel     Rs. 14,21,000
1273        1273       Honda       City  Zx Cvt Petrol     Rs. 14,31,000
1274        1274       Honda       City   V Cvt Petrol     Rs. 12,01,000
1275        1275  Mitsubishi    Montero         3.2 At     Rs. 68,62,560

     Displacement  Cylinders  Valves_Per_Cylinder               Drivetrain  \
0          624 cc        2.0                  2.0   RWD (Rear Wheel Drive)
1          624 cc        2.0                  2.0   RWD (Rear Wheel Drive)
2          624 cc        2.0                  2.0   RWD (Rear Wheel Drive)
3          624 cc        2.0                  2.0   RWD (Rear Wheel Drive)
4          624 cc        2.0                  2.0   RWD (Rear Wheel Drive)
...           ...        ...                  ...                      ...
1271      1498 cc        4.0                  4.0  FWD (Front Wheel Drive)
1272      1498 cc        4.0                  4.0  FWD (Front Wheel Drive)
1273      1497 cc        4.0                  4.0  FWD (Front Wheel Drive)
1274      1497 cc        4.0                  4.0  FWD (Front Wheel Drive)
1275      3200 cc        4.0                  4.0    AWD (All Wheel Drive)

     Cylinder_Configuration  ... Leather_Wrapped_Steering Automatic_Headlamps  \
0                   In-line  ...                      NaN                 NaN
1                   In-line  ...                      NaN                 NaN
2                   In-line  ...                      NaN                 NaN
3                   In-line  ...                      NaN                 NaN
4                   In-line  ...                      NaN                 NaN
...                     ...  ...                      ...                 ...
1271                In-line  ...                      Yes                 NaN
1272                In-line  ...                      Yes                 Yes
1273                In-line  ...                      Yes                 Yes
1274                In-line  ...                      NaN                 NaN
1275                In-line  ...                      Yes                 NaN

     Engine_Type ASR_/_Traction_Control Cruise_Control USB_Ports  \
0            NaN                    NaN            NaN       NaN
1            NaN                    NaN            NaN       NaN
2            NaN                    NaN            NaN       NaN
3            NaN                    NaN            NaN       NaN
4            NaN                    NaN            NaN       NaN
...          ...                    ...            ...       ...
1271         NaN                    NaN            Yes       NaN
1272         NaN                    NaN            Yes       NaN
1273         NaN                    NaN            Yes       NaN
1274         NaN                    NaN            Yes       NaN
1275         NaN                    Yes            Yes       NaN

     Heads-Up_Display Welcome_Lights Battery  Electric_Range
0                 NaN            NaN     NaN             NaN
1                 NaN            NaN     NaN             NaN
2                 NaN            NaN     NaN             NaN
3                 NaN            NaN     NaN             NaN
4                 NaN            NaN     NaN             NaN
...               ...            ...     ...             ...
1271              NaN            NaN     NaN             NaN
1272              NaN            NaN     NaN             NaN
1273              NaN            NaN     NaN             NaN
1274              NaN            NaN     NaN             NaN
1275              NaN            NaN     NaN             NaN

[1276 rows x 141 columns]>

Colums are Displayed

In [ ]:
df.columns

Index(['Unnamed: 0', 'Make', 'Model', 'Variant', 'Ex-Showroom_Price',
       'Displacement', 'Cylinders', 'Valves_Per_Cylinder', 'Drivetrain',
       'Cylinder_Configuration',
       ...
       'Leather_Wrapped_Steering', 'Automatic_Headlamps', 'Engine_Type',
       'ASR_/_Traction_Control', 'Cruise_Control', 'USB_Ports',
       'Heads-Up_Display', 'Welcome_Lights', 'Battery', 'Electric_Range'],
      dtype='object', length=141)

Estimate Missing values

In [ ]:
df.isnull().sum()

Unnamed: 0              0
Make                   75
Model                   0
Variant                 0
Ex-Showroom_Price       0
                     ...
USB_Ports            1247
Heads-Up_Display     1225
Welcome_Lights       1207
Battery              1263
Electric_Range       1259
Length: 141, dtype: int64

In [ ]:
df.Boot_Space

0        110 litres
1        110 litres
2        110 litres
3         94 litres
4        110 litres
           ...
1271     510 litres
1272     510 litres
1273     510 litres
1274     510 litres
1275    1050 litres
Name: Boot_Space, Length: 1276, dtype: object

We now remove the unit to convert its data type

In [ ]:
df.Boot_Space=df.Boot_Space.str.replace('litres',' ')

In [ ]:
df.Boot_Space

0        110
1        110
2        110
3         94
4        110
         ...
1271     510
1272     510
1273     510
1274     510
1275    1050
Name: Boot_Space, Length: 1276, dtype: object

In [ ]:
df.Boot_Space=pd.to_numeric(df.Boot_Space,errors='coerce')

In [ ]:
df.Boot_Space

0        110.0
1        110.0
2        110.0
3         94.0
4        110.0
         ...
1271     510.0
1272     510.0
1273     510.0
1274     510.0
1275    1050.0
Name: Boot_Space, Length: 1276, dtype: float64

In [ ]:
df.Make

0             Tata
1             Tata
2             Tata
3             Tata
4             Tata
           ...
1271         Honda
1272         Honda
1273         Honda
1274         Honda
1275    Mitsubishi
Name: Make, Length: 1276, dtype: object

In [ ]:
df.Make.value_counts()

Maruti Suzuki       149
Hyundai             130
Mahindra            119
Tata                100
Toyota               82
Honda                64
Skoda                43
Ford                 43
Bmw                  37
Renault              36
Volkswagen           34
Audi                 31
Nissan               29
Jeep                 28
Land Rover Rover     27
Fiat                 23
Jaguar               22
Kia                  21
Volvo                18
Datsun               15
Porsche              14
Maruti Suzuki R      14
Lamborghini          13
Mg                   13
Icml                 11
Land Rover           10
Lexus                10
Mini                 10
Maserati              9
Ferrari               8
Mitsubishi            7
Bentley               6
Premier               6
Force                 6
Isuzu                 5
Aston Martin          3
Bajaj                 2
Bugatti               2
Dc                    1
Name: Make, dtype: int64

In [ ]:
df.Make.fillna('Mercedes',inplace=True)

In [ ]:
df.isnull().sum()

Unnamed: 0              0
Make                    0
Model                   0
Variant                 0
Ex-Showroom_Price       0
                     ...
USB_Ports            1247
Heads-Up_Display     1225
Welcome_Lights       1207
Battery              1263
Electric_Range       1259
Length: 141, dtype: int64

In [ ]:
for i in range(883,892):
    df['Make'][i]='Datsun'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
for i in range(349,355):
    df['Make'][i]='Rolls-Royce'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df.Model

0       Nano Genx
1       Nano Genx
2       Nano Genx
3       Nano Genx
4       Nano Genx
          ...
1271         City
1272         City
1273         City
1274         City
1275      Montero
Name: Model, Length: 1276, dtype: object

In [ ]:
df.Cylinders.isnull().sum()

66

In [ ]:
df.Cylinders.mode()

0    4.0
dtype: float64

We now replace missing valuesin the column cylinder with its mode

In [ ]:
df.Cylinders.fillna(4.0,inplace = True)

In [ ]:
df.Cylinders.isnull().sum()

0

In [ ]:
df.Valves_Per_Cylinder.isnull().sum()

102

In [ ]:
df.Valves_Per_Cylinder.median()

4.0

In [ ]:
df.Displacement=df.Displacement.str.replace('cc',' ')
df.Displacement=pd.to_numeric(df.Displacement)
df.Displacement=df.Displacement.fillna(1197)
df.Displacement

0        624.0
1        624.0
2        624.0
3        624.0
4        624.0
         ...
1271    1498.0
1272    1498.0
1273    1497.0
1274    1497.0
1275    3200.0
Name: Displacement, Length: 1276, dtype: float64

In [ ]:
df.City_Mileage

0       ?23.6 km/litre
1       ?23.6 km/litre
2                  NaN
3       ?23.6 km/litre
4       ?23.6 km/litre
             ...
1271     22.6 km/litre
1272     22.6 km/litre
1273       18 km/litre
1274     14.3 km/litre
1275     8.25 km/litre
Name: City_Mileage, Length: 1276, dtype: object

In [ ]:
df.City_Mileage.isnull().sum()

555

In [ ]:
df.City_Mileage=df['City_Mileage'].str.replace('km/litre'," ") 
df.City_Mileage=df['City_Mileage'].str.replace("?"," ")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [ ]:
df['City_Mileage']=pd.to_numeric(df['City_Mileage'],errors='coerce')

In [ ]:
df.City_Mileage.head(20)

0     23.60
1     23.60
2     28.86
3     23.60
4     23.60
5     23.60
6     21.38
7     21.38
8     21.38
9     21.38
10    28.86
11    28.86
12    25.17
13    25.17
14    25.17
15    25.17
16    25.17
17    25.17
18    25.17
19    25.17
Name: City_Mileage, dtype: float64

In [ ]:
df.City_Mileage.isnull().sum()

589

In [ ]:
df.City_Mileage.mean()

53.60717612809316

In [ ]:
df.City_Mileage.fillna(28.86,inplace= True)

In [ ]:
df.City_Mileage.head(200)

0      23.60
1      23.60
2      28.86
3      23.60
4      23.60
       ...
195    28.86
196    28.86
197    28.86
198    20.32
199    20.30
Name: City_Mileage, Length: 200, dtype: float64

In [ ]:
df.City_Mileage.mean()

42.183910658307205

In [ ]:
df.City_Mileage[169]

28.86

In [ ]:
df.City_Mileage.isnull().sum()

0

In [ ]:
df.Highway_Mileage=df.Highway_Mileage.str.replace('km/litre',' ').str.replace('8.3-8.4','8.3 ')
df.Highway_Mileage=pd.to_numeric(df.Highway_Mileage)

df.Highway_Mileage

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
1271    25.10
1272    25.10
1273    18.00
1274    16.40
1275    11.56
Name: Highway_Mileage, Length: 1276, dtype: float64

In [ ]:
df.Highway_Mileage.mode()
df.Highway_Mileage=df.Highway_Mileage.fillna(22.0)

In [ ]:
df.Highway_Mileage.isnull().sum()

0

In [ ]:
df.isnull().sum()[:50]

Unnamed: 0                           0
Make                                 0
Model                                0
Variant                              0
Ex-Showroom_Price                    0
Displacement                         0
Cylinders                            0
Valves_Per_Cylinder                102
Drivetrain                           7
Cylinder_Configuration              13
Emission_Norm                       11
Engine_Location                     43
Fuel_System                          8
Fuel_Tank_Capacity                  69
Fuel_Type                            0
Height                               1
Length                               0
Width                               12
Body_Type                            6
Doors                                4
City_Mileage                         0
Highway_Mileage                      0
ARAI_Certified_Mileage             114
ARAI_Certified_Mileage_for_CNG    1249
Kerb_Weight                        365
Gears                              105
Ground_Clearance                   289
Front_Brakes                        25
Rear_Brakes                         25
Front_Suspension                    59
Rear_Suspension                     46
Front_Track                        667
Rear_Track                         676
Front_Tyre_&_Rim                    49
Rear_Tyre_&_Rim                     48
Power_Steering                      57
Power_Windows                       97
Power_Seats                        893
Keyless_Entry                      274
Power                                0
Torque                               2
Odometer                            43
Speedometer                         45
Tachometer                          13
Tripmeter                           60
Seating_Capacity                     6
Seats_Material                      12
Type                                 1
Wheelbase                           20
Wheels_Size                         56
dtype: int64

In [ ]:


df.Torque.isnull().sum()

2

In [ ]:
df.Power.isnull().sum()

0

In [ ]:
df['Ex-Showroom_Price']

0        Rs. 2,92,667
1        Rs. 2,36,447
2        Rs. 2,96,661
3        Rs. 3,34,768
4        Rs. 2,72,223
            ...
1271    Rs. 13,02,000
1272    Rs. 14,21,000
1273    Rs. 14,31,000
1274    Rs. 12,01,000
1275    Rs. 68,62,560
Name: Ex-Showroom_Price, Length: 1276, dtype: object

In [ ]:
df['Ex-Showroom_Price'].head(60)

0     Rs. 2,92,667
1     Rs. 2,36,447
2     Rs. 2,96,661
3     Rs. 3,34,768
4     Rs. 2,72,223
5     Rs. 3,14,815
6     Rs. 2,79,650
7     Rs. 3,51,832
8     Rs. 3,33,419
9     Rs. 3,62,000
10    Rs. 3,90,000
11    Rs. 4,37,065
12    Rs. 3,53,290
13    Rs. 2,83,290
14    Rs. 3,83,290
15    Rs. 4,13,290
16    Rs. 4,33,290
17    Rs. 4,54,490
18    Rs. 4,63,290
19    Rs. 4,84,490
20    Rs. 4,40,990
21    Rs. 4,70,990
22    Rs. 4,62,190
23    Rs. 4,92,190
24    Rs. 3,52,136
25    Rs. 3,80,573
26    Rs. 3,92,967
27    Rs. 4,66,057
28    Rs. 4,25,255
29    Rs. 3,77,588
30    Rs. 3,94,036
31    Rs. 3,60,843
32    Rs. 4,07,238
33    Rs. 4,39,777
34    Rs. 4,38,559
35    Rs. 3,74,990
36    Rs. 4,68,229
37    Rs. 5,02,492
38    Rs. 4,99,990
39    Rs. 4,69,990
40    Rs. 5,28,464
41    Rs. 5,53,015
42    Rs. 5,94,464
43    Rs. 6,18,015
44    Rs. 4,22,444
45    Rs. 4,80,670
46    Rs. 4,29,990
47    Rs. 5,03,990
48    Rs. 5,47,990
49    Rs. 5,30,990
50    Rs. 5,12,990
51    Rs. 5,78,990
52    Rs. 5,70,990
53    Rs. 5,56,490
54    Rs. 4,60,000
55    Rs. 5,20,000
56    Rs. 5,70,000
57    Rs. 5,99,000
58    Rs. 6,10,000
59    Rs. 6,20,000
Name: Ex-Showroom_Price, dtype: object

In [ ]:
df['Ex-Showroom_Price']=df['Ex-Showroom_Price'].str.replace('Rs. '," ").str.replace(',','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:


df['Ex-Showroom_Price']

0         292667
1         236447
2         296661
3         334768
4         272223
          ...
1271     1302000
1272     1421000
1273     1431000
1274     1201000
1275     6862560
Name: Ex-Showroom_Price, Length: 1276, dtype: object

In [ ]:
df['Ex-Showroom_Price'] = pd.to_numeric(df['Ex-Showroom_Price'],errors='coerce')

In [ ]:
df['Ex-Showroom_Price']

0        292667
1        236447
2        296661
3        334768
4        272223
         ...
1271    1302000
1272    1421000
1273    1431000
1274    1201000
1275    6862560
Name: Ex-Showroom_Price, Length: 1276, dtype: int64

In [ ]:
df['Ex-Showroom_Price'].mean()

4596537.887147335

In [ ]:
df.isnull().sum()[:60]

Unnamed: 0                           0
Make                                 0
Model                                0
Variant                              0
Ex-Showroom_Price                    0
Displacement                         0
Cylinders                            0
Valves_Per_Cylinder                102
Drivetrain                           7
Cylinder_Configuration              13
Emission_Norm                       11
Engine_Location                     43
Fuel_System                          8
Fuel_Tank_Capacity                  69
Fuel_Type                            0
Height                               1
Length                               0
Width                               12
Body_Type                            6
Doors                                4
City_Mileage                         0
Highway_Mileage                      0
ARAI_Certified_Mileage             114
ARAI_Certified_Mileage_for_CNG    1249
Kerb_Weight                        365
Gears                              105
Ground_Clearance                   289
Front_Brakes                        25
Rear_Brakes                         25
Front_Suspension                    59
Rear_Suspension                     46
Front_Track                        667
Rear_Track                         676
Front_Tyre_&_Rim                    49
Rear_Tyre_&_Rim                     48
Power_Steering                      57
Power_Windows                       97
Power_Seats                        893
Keyless_Entry                      274
Power                                0
Torque                               2
Odometer                            43
Speedometer                         45
Tachometer                          13
Tripmeter                           60
Seating_Capacity                     6
Seats_Material                      12
Type                                 1
Wheelbase                           20
Wheels_Size                         56
Start_/_Stop_Button                678
12v_Power_Outlet                   154
Audiosystem                         44
Aux-in_Compatibility               284
Average_Fuel_Consumption           345
Basic_Warranty                     440
Bluetooth                          292
Boot-lid_Opener                     14
Boot_Space                         258
CD_/_MP3_/_DVD_Player              309
dtype: int64

In [ ]:
df.Make[:60]

0              Tata
1              Tata
2              Tata
3              Tata
4              Tata
5              Tata
6            Datsun
7            Datsun
8            Datsun
9            Datsun
10           Datsun
11           Datsun
12          Renault
13          Renault
14          Renault
15          Renault
16          Renault
17          Renault
18          Renault
19          Renault
20          Renault
21          Renault
22          Renault
23          Renault
24    Maruti Suzuki
25    Maruti Suzuki
26    Maruti Suzuki
27    Maruti Suzuki
28    Maruti Suzuki
29    Maruti Suzuki
30    Maruti Suzuki
31    Maruti Suzuki
32    Maruti Suzuki
33    Maruti Suzuki
34    Maruti Suzuki
35           Datsun
36           Datsun
37           Datsun
38           Datsun
39           Datsun
40           Datsun
41           Datsun
42           Datsun
43           Datsun
44    Maruti Suzuki
45    Maruti Suzuki
46          Hyundai
47          Hyundai
48          Hyundai
49          Hyundai
50          Hyundai
51          Hyundai
52          Hyundai
53          Hyundai
54             Tata
55             Tata
56             Tata
57             Tata
58             Tata
59             Tata
Name: Make, dtype: object

In [ ]:
df.Make.isnull().sum()

0

In [ ]:
df.Fuel_Tank_Capacity

0       24 litres
1       24 litres
2       15 litres
3       24 litres
4       24 litres
          ...
1271    40 litres
1272    40 litres
1273    40 litres
1274    40 litres
1275    88 litres
Name: Fuel_Tank_Capacity, Length: 1276, dtype: object

In [ ]:
#tfm = OneHotEncoder(categories='auto',drop=None,sparse=True,handle_unknown='ignore')

In [ ]:
col=df[['Make','Model','Body_Type','Variant','Ex-Showroom_Price','Fuel_Tank_Capacity','Cylinders','Power','Torque','Boot_Space','City_Mileage','Highway_Mileage']]

In [ ]:
#tfm.fit_transform(col)

In [ ]:
#tfm.categories_

In [ ]:
labelencoder = LabelEncoder()

Label Encoder to work with columns that have categorical data

In [ ]:
col['MakeLabEnc']=labelencoder.fit_transform(df['Make'])
col['ModelLabEnc']=labelencoder.fit_transform(df['Model'])
col['Body_typeLabEnc']=labelencoder.fit_transform(df['Body_Type'])
col['PowerLabEnc']=labelencoder.fit_transform(df['Power'])
col['TorqueLabEnc']=labelencoder.fit_transform(df['Torque'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
col.TorqueLabEnc.isnull().sum()

0

In [ ]:
col.Body_typeLabEnc.isnull().sum()

0

In [ ]:
col.head(20)

,Make,Model,Body_Type,Variant,Ex-Showroom_Price,Fuel_Tank_Capacity,Cylinders,Power,Torque,Boot_Space,City_Mileage,Highway_Mileage,MakeLabEnc,ModelLabEnc,Body_typeLabEnc,PowerLabEnc,TorqueLabEnc
0,Tata,Nano Genx,Hatchback,Xt,292667,24 litres,2.0,38PS@5500rpm,51Nm@4000rpm,110.0,23.60,22.0,37,158,5,221,248
1,Tata,Nano Genx,Hatchback,Xe,236447,24 litres,2.0,38PS@5500rpm,51Nm@4000rpm,110.0,23.60,22.0,37,158,5,221,248
2,Tata,Nano Genx,Hatchback,Emax Xm,296661,15 litres,2.0,38PS@5500rpm,51Nm@4000rpm,110.0,28.86,22.0,37,158,5,221,248
3,Tata,Nano Genx,Hatchback,Xta,334768,24 litres,2.0,38PS@5500rpm,51Nm@4000rpm,94.0,23.60,22.0,37,158,5,221,248
4,Tata,Nano Genx,Hatchback,Xm,272223,24 litres,2.0,38PS@5500rpm,51Nm@4000rpm,110.0,23.60,22.0,37,158,5,221,248
5,Tata,Nano Genx,Hatchback,Xma,314815,24 litres,2.0,38PS@5500rpm,51Nm@4000rpm,94.0,23.60,22.0,37,158,5,221,248
6,Datsun,Redi-Go,Hatchback,D,279650,28 litres,3.0,54PS@5678rpm,72Nm@4386rpm,222.0,21.38,24.0,6,189,5,252,309
7,Datsun,Redi-Go,Hatchback,T,351832,28 litres,3.0,54PS@5678rpm,72Nm@4386rpm,222.0,21.38,24.0,6,189,5,252,309
8,Datsun,Redi-Go,Hatchback,A,333419,28 litres,3.0,54PS@5678rpm,72Nm@4386rpm,222.0,21.38,24.0,6,189,5,252,309
9,Datsun,Redi-Go,Hatchback,S,362000,28 litres,3.0,54PS@5678rpm,72Nm@4386rpm,222.0,21.38,24.0,6,189,5,252,309
10,Datsun,Redi-Go,Hatchback,1.0 S,390000,28 litres,3.0,68PS@5500rpm,91Nm@4250RPM,222.0,28.86,22.0,6,189,5,305,336
11,Datsun,Redi-Go,Hatchback,1.0 S Amt,437065,28 litres,3.0,68PS@5500rpm,91Nm@4250RPM,222.0,28.86,22.0,6,189,5,305,336
12,Renault,Kwid,Hatchback,Rxe 0.8,353290,28 litres,3.0,54PS@5678rpm,72Nm@4386rpm,300.0,25.17,22.0,34,115,5,252,309
13,Renault,Kwid,Hatchback,Std 0.8,283290,28 litres,3.0,54PS@5678rpm,72Nm@4386rpm,300.0,25.17,22.0,34,115,5,252,309
14,Renault,Kwid,Hatchback,Rxl 0.8,383290,28 litres,3.0,54PS@5678rpm,72Nm@4386rpm,300.0,25.17,22.0,34,115,5,252,309
15,Renault,Kwid,Hatchback,Rxt 0.8,413290,28 litres,3.0,54PS@5678rpm,72Nm@4386rpm,300.0,25.17,22.0,34,115,5,252,309
16,Renault,Kwid,Hatchback,Rxt 1.0,433290,28 litres,3.0,68PS@5500rpm,91Nm@4250RPM,300.0,25.17,22.0,34,115,5,305,336
17,Renault,Kwid,Hatchback,Climber 1.0 Mt,454490,28 litres,3.0,68PS@5500rpm,91Nm@4250RPM,300.0,25.17,22.0,34,115,5,305,336
18,Renault,Kwid,Hatchback,Rxt Amt 1.0,463290,28 litres,3.0,68PS@5500rpm,91Nm@4250RPM,300.0,25.17,22.0,34,115,5,305,336
19,Renault,Kwid,Hatchback,Climber Amt 1.0,484490,28 litres,3.0,68PS@5500rpm,91Nm@4250RPM,300.0,25.17,22.0,34,115,5,305,336

In [ ]:
labelencoder.classes_

array(['10.1kgm@4500RPM', '1000Nm@2300-4300rpm', '101Nm@3000rpm',
       '1020Nm@1750rpm', '103.9Nm@3500-4250rpm', '103Nm@4500RPM',
       '104Nm@3100rpm', '104Nm@4000rpm', '104Nm@4400rpm', '105Nm@2500RPM',
       '110 Nm@4800rpm', '110Nm@4800rpm', '112.7Nm@4000rpm',
       '1130Nm@4200rpm', '113Nm@3300rpm', '113Nm@4200 rpm',
       '113Nm@4200RPM', '113Nm@4400 rpm', '114NM@3300rpm',
       '114NM@3500rpm', '114Nm@4000rpm', '114Nm@6000rpm',
       '115 Nm@4000rpm', '115NM@3500-3600RPM', '115Nm@4000rpm',
       '115Nm@4500RPM', '120Nm@4250rpm', '130Nm@4400rpm', '132Nm@3000rpm',
       '133Nm@4000rpm', '134Nm@4000rpm', '138Nm@4400rpm',
       '140Nm@1500-4000rpm', '140Nm@1750-3000rpm', '140Nm@1800-3000rpm',
       '140Nm@4200rpm', '142Nm@3600rpm', '142Nm@4000rpm',
       '144Nm@4500 rpm', '145Nm@3750rpm', '145Nm@4600rpm',
       '1479bhp@6700rpm', '150Nm@1700-4500RPM', '150Nm@4500rpm',
       '151Nm@4850rpm', '152Nm@2250RPM', '152Nm@2500RPM',
       '153Nm@3750-3800rpm', '153Nm@3800rpm', '155Nm@4850rpm',
       '16.1Nm@4000rpm', '16.3Nm@1500-2750RPM', '1600Nm@2000-6000rpm',
       '160Nm@1750rpm', '160Nm@2000rpm', '170Nm@1500-2750rpm',
       '170Nm@1800-2400rpm', '1712Nm@1500-4000rpm', '172Nm@1500-4000rpm',
       '172Nm@4000rpm', '173Nm@4000rpm', '174Nm@4300rpm',
       '175Nm@1500-4100rpm', '175Nm@4000rpm', '18.9Nm@4000rpm',
       '180Nm@1750rpm', '180Nm@4400rpm', '183Nm@1800-2400rpm',
       '189NM@4300rpm', '190NM@1750-2250RPM', '190Nm@1250-3500rpm',
       '190Nm@1750-3000rpm', '190Nm@2000rpm', '192NM@4000rpm',
       '195Nm@1400-2200rpm', '195Nm@1440-2200RPM', '196Nm@4000rpm',
       '197 Nm @ 1750 RPM', '197Nm@1750RPM', '200NM@1750-3000rpm',
       '200Nm@1250-3000rpm', '200Nm@1250-4000rpm', '200Nm@1400-2200rpm',
       '200Nm@1750rpm', '200Nm@1900rpm', '200Nm@2000rpm',
       '205Nm@1750-3250rpm', '205Nm@1800-2800rpm', '207Nm@2200rpm',
       '207Nm@4500rpm', '209Nm@2000rpm', '210Nm@2000-4000RPM',
       '210Nm@4200-4400rpm', '212Nm@2000-4000rpm', '215Nm@1750-3000RPM',
       '218Nm@1400-2600rpm', '22.4', '220Nm@1500-2750rpm',
       '220Nm@1500rpm', '221Nm@3600-5200rpm', '222Nm@4100RPM',
       '225Nm@1500-2250rpm', '225Nm@1750rpm', '230Nm@1400-2400rpm',
       '230Nm@1500-2500rpm', '240Nm', '240Nm@1500-2250rpm',
       '240Nm@1600-2800rpm', '240Nm@1600-500rpm', '240Nm@1750rpm',
       '240Nm@2000-2500RPM', '242Nm@1500-3200rpm', '245 Nm @ 4000 rpm',
       '245Nm', '245Nm@1200-3400RPM', '245Nm@1750rpm', '245Nm@4000rpm',
       '247Nm@1800-2000rpm', '248Nm@2250rpm', '250 Nm @ 1250 RPM',
       '250NM', '250NM@1250-5000rpm', '250Nm@1500-2500rpm',
       '250Nm@1500-2750rpm', '250Nm@1500-3500', '250Nm@1500-3500rpm',
       '250Nm@1750-2500rpm', '250Nm@2500-4000rpm', '260Nm@1500-2750rpm',
       '260Nm@1500-3000rpm', '260Nm@1900-2750rpm', '270Nm@1750-2250rpm',
       '270Nm@2500RPM', '280NM@1250-4600rpm', '280NM@1250rpm',
       '280Nm@1350-4600rpm', '280Nm@1350rpm', '280Nm@1600rpm',
       '280Nm@1800-2800rpm', '280Nm@2400-2800rpm', '300NM@2000rpm',
       '300Nm@1200-1400rpm', '300Nm@1200-4000rpm', '300Nm@1500rpm',
       '300Nm@1600-3000rpm', '300Nm@1750-2500rpm', '300Nm@1750rpm',
       '300Nm@2000', '320 Nm@1450-4800rpm', '320NM@1800-2800RPM',
       '320Nm@1450-3900rpm', '320Nm@1500-2800rpm', '320Nm@1650-4000rpm',
       '320Nm@1700-2700rpm', '320Nm@1750-3000rpm', '320Nm@2000 - 3000rpm',
       '320hp@1450-2000rpm', '321 Nm @ 1600 rpm', '330Nm@1750-2800rpm',
       '335Nm@4600rpm', '340 Nm @ 1750 rpm', '340NM@1500rpm',
       '340NM@2750-5000rpm', '340Nm@1500-3500rpm', '340Nm@1750-2000RPM',
       '340Nm@1750-2750rpm', '343Nm@1400-2800rpm', '347Nm@4300rpm',
       '350 Nm @ 1450 rpm', '350NM', '350Nm@1400-3400rpm',
       '350Nm@1450-4800rpm', '350Nm@1450rpm', '350Nm@1500-2750rpm',
       '350Nm@1500-3500rpm', '350Nm@1750-2500rpm', '350Nm@1800-2800rpm',
       '350Nm@1800-3500rpm', '350Nm@5100rpm', '353Nm@5000rpm',
       '360Nm@1200-3400rpm', '360Nm@1750-2800rpm', '365Nm@1500-4000rpm',
       '365Nm@1500-4500rpm', '365Nm@1500rpm', '369Nm@1300-4000rpm',
       '370 Nm @ 1600-4500 rpm', '370Nm@1600-4500rpm', '370Nm@1600rpm',
       '370Nm@1800-4000rpm', '380Nm@1400-2400rpm', '380Nm@1750-2500rpm',
       '380Nm@1800-2800rpm', '380Nm@1950-4500RPM', '380Nm@2400rpm',
       '385Nm@1600-2500rpm', '395 Nm', '400 Nm @ 1500 rpm',
       '400 Nm @ 1750 RPM', '400NM@1550rpm', '400NM@1750rpm', '400Nm',
       '400Nm @1750-3000rpm', '400Nm@1500-4000rpm', '400Nm@1600-2800RPM',
       '400Nm@1600rpm', '400Nm@1700-2700rpm', '400Nm@1750-2500rpm',
       '400Nm@2000-2500rpm', '400Nm@2000rpm', '400Nm@4300rpm',
       '410Nm@1600-2800rpm', '420Nm @1600-2600', '420Nm@1500-3000rpm',
       '420Nm@1600-2400rpm', '420Nm@1600-2600rpm', '430NM@1750-2500rpm',
       '430NM@1750rpm', '430Nm@1750-2000rpm', '440Nm@1750-2750rpm',
       '441Nm@2000rpm', '450 Nm @ 1500 rpm', '450Nm@1340 - 5300rpm',
       '450Nm@1340-5300', '450Nm@1380-5000RPM', '450Nm@1500-5200rpm',
       '450Nm@1600-2400rpm', '450Nm@2250-5000rpm', '450Nm@3500-5000RPM',
       '450Nm@5300RPM', '470Nm@1740RPM', '470Nm@1750-2500rpm',
       '470Nm@2100-4800rpm', '475Nm@2250-5000rpm', '480 Nm @ 1750 rpm',
       '480Nm@1360rpm', '480Nm@1600-4000RPM', '480Nm@1740RPM',
       '480Nm@1750rpm', '480Nm@5250rpm', '500@1600-4500rpm',
       '500Nm@1370-4500rpm', '500Nm@1370rpm', '500Nm@1600-2400RPM',
       '500Nm@1600rpm', '500Nm@4500-5000rpm', '510Nm@4750rpm',
       '515Nm@4250-4300RPM', '51Nm@4000rpm', '520NM@4750rpm',
       '530Nm@5000rpm', '540 Nm @ 6500 rpm', '540Nm@6000rpm',
       '540Nm@6500rpm', '546Nm@1600-2600rpm', '550Nm@1850-5500rpm',
       '550Nm@2350-5230rpm', '560Nm@1500-3000rpm', '560Nm@6500rpm',
       '570Nm@2000-2600rpm', '570Nm@2000rpm', '580Nm@4500-5000rpm',
       '59Nm@2500rpm', '600Nm @ 1750-2250 rpm', '600Nm@1500-3000rpm',
       '600Nm@1750-2250rpm', '600Nm@1900-5000rpm', '600Nm@2000-2600rpm',
       '600Nm@2000rpm', '600Nm@2500rpm', '600Nm@3500rpm', '600Nm@6500rpm',
       '619Nm@1600-2400RPM', '620 Nm @ 1500 rpm', '620Nm@1500-2500rpm',
       '620Nm@1600-2400rpm', '620Nm@1600rpm', '620Nm@2000-2500RPM',
       '624 Nm @ 4100 rpm', '625Nm@2500-5500rpm', '630Nm@1700-5000rpm',
       '630Nm@5500rpm', '637Nm@3200rpm', '640Nm@2200rpm',
       '650Nm@1600-2600rpm', '650Nm@1750-4750rpm', '660NM@1700rpm',
       '680Nm@2500RPM', '685Nm@2000-5000rpm', '689Nm@1800rpm',
       '690Nm@5500rpm', '690Nm@5506RPM', '697Nm@5250RPM', '69Nm@3500rpm',
       '700Nm@1200-3200rpm', '700Nm@1500rpm', '700Nm@1750-5500rpm',
       '700Nm@1750RPM', '700Nm@1800-3500RPM', '700Nm@1900 rpm',
       '700Nm@1900-5500rpm', '700Nm@3500-4000rpm', '700Nm@3500-5000rpm',
       '700Nm@3500rpm', '70Nm@1000rpm', '718 Nm @ 7000 rpm',
       '720Nm@1750-5250RPM', '720Nm@1800rpm', '720Nm@3500rpm',
       '72Nm@4386rpm', '740Nm@1750-2250rpm', '740Nm@2250rpm',
       '750Nm@1800-5860rpm', '755NM@4750rpm', '760NM@3000rpm',
       '760Nm@5250RPM', '770Nm@1350rpm', '770Nm@1960 - 4500rpm',
       '770Nm@2000-4500', '770Nm@4500RPM', '780 Nm @ 1500-5000 rpm',
       '780Nm@1500-5000RPM', '780Nm@1700rpm', '78Nm@3500rpm',
       '8.3KGM@4500rpm', '800Nm@1500-5500rpm', '800Nm@1600-6100rpm',
       '850 Nm@1600rpm', '850Nm@1550-5000RPM', '850Nm@2250-4500rpm',
       '850Nm@2500-3500rpm', '85Nm@3000rpm', '900Nm@1350rpm',
       '900Nm@2750-4500rpm', '90Nm@3500rpm', '91Nm@3000rpm',
       '91Nm@4250RPM', '95Nm@3000-4300rpm', '95Nm@4000rpm',
       '96Nm@2500RPM', '96Nm@3500rpm', '99.04nm@4500RPM', nan],
      dtype=object)

In [ ]:
df['City_Mileage']

0       23.60
1       23.60
2       28.86
3       23.60
4       23.60
        ...
1271    22.60
1272    22.60
1273    18.00
1274    14.30
1275     8.25
Name: City_Mileage, Length: 1276, dtype: float64

In [ ]:
df.Fuel_Tank_Capacity=df.Fuel_Tank_Capacity.str.rstrip("litres")

In [ ]:
df.Fuel_Tank_Capacity

0       24
1       24
2       15
3       24
4       24
       ...
1271    40
1272    40
1273    40
1274    40
1275    88
Name: Fuel_Tank_Capacity, Length: 1276, dtype: object

In [ ]:
df.Fuel_Tank_Capacity=pd.to_numeric(df['Fuel_Tank_Capacity'])

In [ ]:


df.Fuel_Tank_Capacity.isnull().sum()

69

In [ ]:
df.Fuel_Tank_Capacity.mode()

0    45.0
dtype: float64

In [ ]:
df.Fuel_Tank_Capacity=df.Fuel_Tank_Capacity.fillna(45)

In [ ]:
df.Fuel_Tank_Capacity.isnull().sum()

0

In [ ]:
col.columns

Index(['Make', 'Model', 'Body_Type', 'Variant', 'Ex-Showroom_Price',
       'Fuel_Tank_Capacity', 'Cylinders', 'Power', 'Torque', 'Boot_Space',
       'City_Mileage', 'Highway_Mileage', 'MakeLabEnc', 'ModelLabEnc',
       'Body_typeLabEnc', 'PowerLabEnc', 'TorqueLabEnc'],
      dtype='object')

In [ ]:
col.Torque

0        51Nm@4000rpm
1        51Nm@4000rpm
2        51Nm@4000rpm
3        51Nm@4000rpm
4        51Nm@4000rpm
            ...
1271    200Nm@1750rpm
1272    200Nm@1750rpm
1273    145Nm@4600rpm
1274    145Nm@4600rpm
1275    441Nm@2000rpm
Name: Torque, Length: 1276, dtype: object

In [ ]:
col.Power

0        38PS@5500rpm
1        38PS@5500rpm
2        38PS@5500rpm
3        38PS@5500rpm
4        38PS@5500rpm
            ...
1271    100PS@3600rpm
1272    100PS@3600rpm
1273    119PS@6600rpm
1274    119PS@6600rpm
1275    202ps@3800rpm
Name: Power, Length: 1276, dtype: object

In [ ]:
col.Fuel_Tank_Capacity

0       24 litres
1       24 litres
2       15 litres
3       24 litres
4       24 litres
          ...
1271    40 litres
1272    40 litres
1273    40 litres
1274    40 litres
1275    88 litres
Name: Fuel_Tank_Capacity, Length: 1276, dtype: object

In [ ]:
col.Fuel_Tank_Capacity=col.Fuel_Tank_Capacity.str.replace('litres',' ')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
col.Fuel_Tank_Capacity

0       24
1       24
2       15
3       24
4       24
        ...
1271    40
1272    40
1273    40
1274    40
1275    88
Name: Fuel_Tank_Capacity, Length: 1276, dtype: object

In [ ]:
col.Fuel_Tank_Capacity=pd.to_numeric(col.Fuel_Tank_Capacity)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:


col.Fuel_Tank_Capacity

0       24.0
1       24.0
2       15.0
3       24.0
4       24.0
        ...
1271    40.0
1272    40.0
1273    40.0
1274    40.0
1275    88.0
Name: Fuel_Tank_Capacity, Length: 1276, dtype: float64

In [ ]:
df['City_Mileage'].describe()

count     1276.000000
mean        42.183911
std        728.205708
min          2.000000
25%         14.500000
50%         23.840000
75%         28.860000
max      26032.000000
Name: City_Mileage, dtype: float64

In [ ]:
df.Height=df.Height.str.replace("mm",' ')
df.Height=pd.to_numeric(df.Height)

In [ ]:
df.Height

0       1652.0
1       1652.0
2       1652.0
3       1652.0
4       1652.0
         ...
1271    1495.0
1272    1495.0
1273    1495.0
1274    1495.0
1275    1900.0
Name: Height, Length: 1276, dtype: float64

In [ ]:
df.Width=df.Width.str.replace("mm",' ')
df.Width=pd.to_numeric(df.Width)
df.Length=df.Length.str.replace("mm",' ')
df.Length=pd.to_numeric(df.Length)

In [ ]:
col.head(1275)

,Make,Model,Body_Type,Variant,Ex-Showroom_Price,Fuel_Tank_Capacity,Cylinders,Power,Torque,Boot_Space,City_Mileage,Highway_Mileage,MakeLabEnc,ModelLabEnc,Body_typeLabEnc,PowerLabEnc,TorqueLabEnc
0,Tata,Nano Genx,Hatchback,Xt,292667,24.0,2.0,38PS@5500rpm,51Nm@4000rpm,110.0,23.60,22.0,37,158,5,221,248
1,Tata,Nano Genx,Hatchback,Xe,236447,24.0,2.0,38PS@5500rpm,51Nm@4000rpm,110.0,23.60,22.0,37,158,5,221,248
2,Tata,Nano Genx,Hatchback,Emax Xm,296661,15.0,2.0,38PS@5500rpm,51Nm@4000rpm,110.0,28.86,22.0,37,158,5,221,248
3,Tata,Nano Genx,Hatchback,Xta,334768,24.0,2.0,38PS@5500rpm,51Nm@4000rpm,94.0,23.60,22.0,37,158,5,221,248
4,Tata,Nano Genx,Hatchback,Xm,272223,24.0,2.0,38PS@5500rpm,51Nm@4000rpm,110.0,23.60,22.0,37,158,5,221,248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,Honda,City,Sedan,V Mt Diesel,1191000,40.0,4.0,100PS@3600rpm,200Nm@1750rpm,510.0,22.60,25.6,12,49,11,0,83
1271,Honda,City,Sedan,Vx Mt Diesel,1302000,40.0,4.0,100PS@3600rpm,200Nm@1750rpm,510.0,22.60,25.1,12,49,11,0,83
1272,Honda,City,Sedan,Zx Mt Diesel,1421000,40.0,4.0,100PS@3600rpm,200Nm@1750rpm,510.0,22.60,25.1,12,49,11,0,83
1273,Honda,City,Sedan,Zx Cvt Petrol,1431000,40.0,4.0,119PS@6600rpm,145Nm@4600rpm,510.0,18.00,18.0,12,49,11,35,40
1274,Honda,City,Sedan,V Cvt Petrol,1201000,40.0,4.0,119PS@6600rpm,145Nm@4600rpm,510.0,14.30,16.4,12,49,11,35,40

In [ ]:

price_data = col['Ex-Showroom_Price']

Models that will be trained

    Linear Regression
    Polynomial Regression
    Support Vector Regression
    Decision Trees

In [ ]:
#Export as download if in colab
from google.colab import files
col.to_csv('cars.csv', sep='\t')
files.download('cars.csv')

In [ ]:
from pydataset import data

ModuleNotFoundError: ignored